# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bin
app/bin/

# Abaikan konfigurasi kredensial database
app/src/main/resources/application.properties

